<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE_APPENDER" />
    </root>

    <appender
        name="CONSOLE_APPENDER"
        class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param
                name="ConversionPattern"
                value="LOG4J DEV:[%t] %r %p %d %c %m%n" />
        </layout>
    </appender>
</log4j:configuration>