<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean
        class="cn.limw.summer.dao.hibernate.search.SearchQueryBuilder"
        p:searchFilters-ref="searchFilters" />

    <util:list id="searchFilters">
        <bean class="cn.limw.summer.dao.hibernate.search.filter.BetweenFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.AndFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.EqualFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.GreaterEqualFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.GreaterThanFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.InFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.LessEqualFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.LessThanFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.LikeFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.NotEqualFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.NotInFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.OrFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.IsNullFilter" />
        <bean class="cn.limw.summer.dao.hibernate.search.filter.IsNotNullFilter" />
    </util:list>
</beans>